<IfModule mod_rewrite.c>
    RewriteEngine On

    # UBAH sesuai nama folder project kamu
    RewriteBase /icescoop/

    # Jika file atau folder ada, jangan di-redirect
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect semua request ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 index.php
</IfModule>
